@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
  font-family: Inter;
  margin: 0 auto;
}
body{
  margin: 0 auto;
  max-width:90%;
  
}
.header{
  margin: 0 auto;
  background-color: black;
}

.nav-section{
 width: 100%;
 margin-top: 40px;
 
}
.nav-container{
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.nav-hero{
  color:#E6533C;
  left:0px;
  font-style:italic;
}

.nav-items ul{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap:2rem;

}
.nav-item{
  list-style: none;
  font-weight: 400;
  padding: 4px;   
}
.nav-item-active{
  list-style: none;
  font-weight: 400;
  padding: 8px 20px 8px 20px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
.nav-responsive{
  display: none;
}

.hero-section{
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.hero{
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding-top: 20px;
}
.hero-content{
  width:55%;
  color: white;

}
.hero-content h3{
  width: 100%;
  font-weight: 900;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero-content-span{
  font-family: "Playwrite HR Lijeva", cursive;
  font-style: italic;
}
.hero-content p{
  font-weight: 400;
  text-align: left;
  font-size: 0.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #FFFFFF80;
  
}
.join-btn{
  color: white;
  border: none;
  font-weight: 400;
  padding: 6px 10px 6px 10px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
.download-btn{
  color: white;
  border: 1px solid;
  font-weight: 400;
  padding: 8px 20px 8px 20px;
  border-radius: 46px;
 background-color: transparent;
}
.hero-image-section{
  width: 40%;
  height: 320px;
  position: relative;
  background: url('../images/Images\ 2.png') no-repeat;
  
  background-size: 70% 100% ;
  margin-left: 10rem;
}

.video {

  position: absolute;
  right: 0rem;
  margin-top: 5rem;
  margin-right: 1.8rem;
 text-align: left;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
padding: 0.5rem;
}
.video h5, .tutorial h5{
  font-weight: 900;
  color: white;
  font-size: 1.2rem;
}
.video p , .tutorial p{
  font-weight: 400;
  color: #FFFFFFA6;
  font-size: 0.5rem;
}
.tutorial{
  position: absolute;
  left: 0rem;
  margin-top: 14rem;
  margin-left: -5rem;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.circle{
  margin-top: 10px;
  height:20px;
  width: 20px;
  border-radius: 50%;
  background-color: #E6533C;
}
.habit-section{
  margin: 0 auto;
  background-color: black;
}
.habit-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}
.habit-content{
  text-align: center;
  width:60%;
}
.habit-content h2{
  font-weight: 900;
  font-size: 2.5rem;
}
.habit-content p{
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFFA6;
  margin: 1rem 0rem;
}
.habit-images{
  width: 90%;
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.habit-image{
  width:150px;
 
}
.habit-image img{
  width:100%;
  border-radius: 50%;
}
.habit-image h5{
  font-size: 1rem;
  text-align: center;

}
.habit-image p{
  font-size: 0.7rem;
  text-align: center;
  color: #FFFFFFA6;
}
.run-section{
  margin:0 auto;
}
.run-container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.run-content{
  width: 50%;
  padding: 3rem 2rem 3rem 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.run-content h2{
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
}
.run-content p{
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFFA6;
  line-height: 2rem;
}
.run-btn{
  color: white;
  border: none;
  font-weight: 400;
  padding: 12px 45px 12px 45px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
  margin-top: 2rem;
}

.run-image{
  width: 45%;
  padding: 3rem 2rem 3rem 3rem;
}
.run-image img{
  width: 100%;
  border-radius: 18px;
}
.training-section{
  margin:0 auto;
}
.training-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 18px;

}
.training-content{
  width: 100%;
  padding: 3rem 2rem 3rem 3rem;
  margin-left: -3rem;
}
.training-content h2{
  font-weight: 900;
  font-size: 2.5rem;
  color: white;

}
.training-content p{

  margin-top: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFFA6;
  line-height: 2rem;
}
.training-images-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.training-images-up{
  width:100%;
  display: flex;
  justify-content: start;
}
.image-container{
  position: relative;
  width:200px;
  height: 150px;
  background-color: aqua;

}
.image-div{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.img1{
  width:250px;
  height: 150px;
  background-color: aqua;
}
.image1{
  background-image: url('../images/exercise1.jpg');
}
.img2{
  width:450px;
  height: 150px;
  background-color: rgb(250, 26, 5);
}
.image2{
  background-image: url('../images/exercise2.png');
}
.img3{
  width:300px;
  height: 150px;
  background-color: rgb(111, 91, 91);
}
.image3{
  background-image: url('../images/exercise3.png');
}

.img4{
  width:450px;
  height: 150px;
  background-color: rgb(9, 9, 9);
}
.image4{
  background-image: url('../images/exercise4.png');
}
.img5{
  width:300px;
  height: 150px;
  background-color: rgb(6, 168, 55);
}
.image5{
  background-image: url('../images/exercise5.jpg');
}
.img6{
  width:300px;
  height: 150px;
  background-color: rgb(52, 215, 248);
}
.image6{
  background-image: url('../images/exercise6.jpg');
}
.image-content{
  font-size: 0.7rem;
  font-weight: 900;
  margin-left: 2rem;
  margin-top: 8rem;
}
.content1{
  color: black;
}
.content3{
  color: white;
}
.content5{
  color: white;
}
.content6{
  color: white;
}
.image-content2{
  margin-left: 1rem;
  margin-top: 1rem;
  color:white;
}
.image-content4{
margin-left: 15rem;
  margin-top: 1rem;
  color:white;
}
.bmi-cal{
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.bmi-cal h2{
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
}
.bmi-cal p{
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFFA6;
  line-height: 1.5rem;
}


.bmi-section{
  margin:0 auto;
}
.bmi-container{
  width: 80%;
  display: flex;
  justify-self: center;
  align-items: center;
  background: rgb(34, 34, 34);
  margin-bottom: 30px;
  gap:1rem;
}
.bmi-chart{
  width: 45%;
  

}
.bmi-chart h2{

 color: white;

}
table{
 margin-top: 2rem;
 margin-left: 4rem;
}
table caption{
  text-align: left;
  margin-bottom: 2rem;
  color: white;
  font-weight: 700;
}
table, th, td {
  border: 1px solid rgb(181, 175, 175);
  border-collapse: collapse;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;

}
.table{
  margin-bottom: 3rem;
  align-items: start;
}
.table tr th{
  text-align: left;
  font-weight: 600;
  color: white;
  font-size: 0.8rem;
}
.table tr td{
  text-align: left;
  font-weight: 400;
  color: rgb(158, 152, 152);
  font-size: 0.8rem;
}


.bmi-calculator{
  margin-top: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;

}
.bmi-content{
  width: 100%;
}
.bmi-content h2{
  color:white;
  margin-bottom: 0.2rem;
  font-weight: 800;
  font-size: 1rem;
}

.bmi-content p{
  line-height: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: #FFFFFFA6;
  margin-bottom: 20px;
 
}
.bmi-input{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.bmi-input input{
  width: 70%;
  border-radius: 10px;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  background-color: #FFFFFF1A;
  border: none;
  margin-bottom: 0.5rem;
}

.bmi-input input::placeholder{
  color:  #FFFFFF99
}
.bmi-input form{
  width: 70%;
  border-radius: 10px;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  background-color: #FFFFFF1A;
  border: none;
  margin-bottom: 0.5rem;
   
}
.bmi-input form select{
 width: 90%;
 background-color: transparent;
 color: #FFFFFFA6;
 padding-left: 0rem;
 border: none;
   
}
#option{
  background-color: #FFFFFF1A;
  color: black;

}
#input-span{
  grid-column: span 2;
  width: 86%;
}
#activity{
  margin-right: 9rem;
}
.bmi-input button{
  margin-left: 1rem;
  margin-bottom: 3rem;
}
.meet{
  padding-bottom: 30px;

}
.meet-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-bottom: 30px;
  gap:1rem;
}
.meet-content{
  width:70%;
}
.meet-content h2{
  color:white;
  margin-bottom: 0.1rem;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}
.meet-content p{
  
  font-weight: 400;
  font-size: 0.7rem;
  color: #FFFFFFA6;
  line-height: 1.5rem;
  text-align: center;
}
.meet-imgs{
  width: 100%;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.2rem;
}

.meet-img{
  width: 320px;
  height: 240px;
  border-radius: 10px;
  position: relative;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.meet-img img{
  width: 280px;
  height: 210px;
  border-radius: 10px;
}

.meet-header{
  position: absolute;
  top: 10rem;
  left: 1rem;
  z-index: 2;
}
.meet-h{
  color: white;
  font-weight: 800;
  font-size: 1rem;
}
.meet-p{
  color: #FFFFFFA6;
  font-size: 0.8rem;
}

.assignment-section{
  margin: 0 auto;
  width:80%;
 

}
.assignment-section-wrapper{
  width:100%;
  padding-top: 50px;
 padding-bottom: 100px;
 position: relative;
}
.background-wrapper{
  position: absolute;
  width:60%;
  height:760px;
  background:linear-gradient(
    #ff512f,
    #f09819
);
 left: 12rem;
 border-radius: 10px;
}


.assignment-form{
  
  width: 40%;
  left:25%;
  padding-bottom: 10px;
  margin-top: 50px;
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  font-family: 'Poppins',sans-serif;
  color:black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.assignment-heading{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.assignment-label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.assignment-input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
 border:1px sold gray;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
.assignment-input::placeholder{
  color: #e5e5e5;
}
.assignment-button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.social{
margin-top: 30px;
display: flex;
}
.social div{
background: red;
width: 150px;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgba(255,255,255,0.27);
color: black;
text-align: center;
}
.social div:hover{
background-color: rgba(255,255,255,0.47);
}




.footer{
  margin:0 auto;
  background-color: black;
  color: aliceblue;       
}
.footer-wrapper{
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 1rem; 
  background-color:  #FFFFFF1A;

}
.footer-container{
  width: 80%;
  margin-top: 40px;
  display:flex;
  align-items: center; 
  padding-bottom: 1rem;
  border-bottom: 1px solid #FFFFFFA6; 
}
.footer-container-wrapper{
  width: 50%;
}

.footer-fitness{
  width: 100%;
  margin-top: 1rem;
  margin-right: 5rem;
}
.footer-fitness h1{
  text-align: left;
  color: #E6533C;
  font-style: italic;
}
.footer-fitness p{
  margin-top: 1.5rem;
  color: #FFFFFFA6;
  font-size: 0.7rem;
  line-height: 1.5rem;
}
.get-started{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
 

}
.get-started-left{
  left: 0;
}
.get-started-left h3{
  left: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.get-started-left ul{
  margin-left: -3.5rem;

 
}
.get-started-left ul li{
 list-style: none;
 padding: 0.5rem 1rem;
 color: #FFFFFFA6;
 font-size: 0.8rem;
}
.copyRight{
  color:#FFFFFFA6 ;
  padding-bottom: 1rem;
}

@media  screen and (max-width:576px) {
  .nav-items ul{
    display: none;
  }
  .nav-responsive{
    height: 30px;
    width: 30px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3px;

  }
  .menu{
    border: 2px solid white;
    width:20px;
  }
  .nav-hero{
    margin-left: 2rem;
  }
  .hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .hero-content{
    width: 100%;
    margin-left: 1rem;
    
  }
  .hero-content p{
    margin-right:2rem ;
  }
  .hero-image-section{
    width: 100%;
    background-size: 65% 98% ;
    margin-left:15% ;
  }
  .video{
    margin-right: 6rem;
  }
  .tutorial{
    margin-left: -3.5rem;
  }
  .habit-content{
    padding-top: 5rem;
    width: 95%;
    
  }
  .habit-content h2{
   font-size: 1.5rem;
    
  }
  .habit-images{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .habit-image h5{
    margin: 1rem 0rem;
  }
  .habit-image p{
    margin: 1rem 0rem;

  }
  .run-section{
    width: 95%;
  }
  .run-container{
  display: block;
  width: 100%;
  }
  .run-content{
    width: 100%;
    flex-wrap: wrap;
  }
  .run-content p{
   width: 90%;
   margin-left: -2rem;
  }
  .run-content h2{
  width: 80%;
  margin-left: -2rem;
 }
 .run-btn{
  margin-left: -2rem;
}

.run-image{
  width:90%;
  padding: 1.5rem;
  margin-left: -0.5rem;
  margin-top: -3rem;
}
.training-container{
  width: 95%;
}
.training-content{
  margin-left: -2.5rem;
}
.img3 , .img6{
  display: none;
}
.bmi-cal{
  margin-left: 0rem;
}
.bmi-container{
  width: 100%;
  flex-direction: column;
  margin-left: -0rem;
}
.bmi-chart{
  margin-left: 0rem;
  width: 95%;
  margin-bottom: 10px;
}
.bmi-calculator{
  margin: 3rem;
  width: 100%;
  margin-top: -20px;
}
.bmi-content{
    margin-left: 0rem; 
  }
  .bmi-content h2{
    width: 95%;
}
.bmi-content p{
    width: 95%;
} 
.meet-img{
    margin-top: 2rem;
    width: 100%;
    height: 240px;   
   
}

.meet-img img{
  width: 90%;
  height: 210px;
  border-radius: 10px;
}
.meet-imgs{
  grid-template-columns: repeat(1,1fr);
}



.assignment-form{
width: 95%;
margin-left: -2rem;
color: white;
backdrop-filter: none;
box-shadow:none;
}
.background-wrapper{
display:none;
}
.social div{
  color:white;
  font:600;
  width: 100px;
}

.footer-container-wrapper{
  width: 100%;
 flex-direction: column;
}
.footer-fitness{
  width:90%;
  margin-top: 2rem;
  margin-left: 4rem;
}
.get-started{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
 margin-left: -5rem;
}
.footer-wrapper{
  width: 95%;
 
}
.footer-container{
  flex-direction: column;
}
.footer-container-wrapper{
margin-left: -4rem;
}
.get-started-left{
margin-top: 2rem;
margin-left: 5rem;
}


} 







